/* screen - desktop-badezimmer */

.desktop-badezimmer {
  align-items: center;
  background-color: var(--weiss--100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3445px;
  overflow: hidden;
  width: 1439px;
}

.desktop-badezimmer .overlap-group6 {
  height: 468px;
  margin-left: 1.0px;
  position: relative;
  width: 1440px;
  z-index: 7;
}

.desktop-badezimmer .istockphoto-901330538-612x612-1 {
  height: 356px;
  left: 122px;
  position: absolute;
  top: 112px;
  width: 1198px;
}

.desktop-badezimmer .mask-group {
  height: 354px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-badezimmer .rectangle-58 {
  background-color: var(--weiss--100);
  border: 1px none;
  height: 95px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1439px;
  z-index: 10;
}

.desktop-badezimmer .frame-15::-webkit-scrollbar {
  display: none;
  width: 0;
}

.desktop-badezimmer .frame-15 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 498px;
  left: 0;
  overflow-y: scroll;
  padding: 0px 120px;
  position: fixed;
  top: 25px;
  width: 1439px;
  z-index: 11;
}

.desktop-badezimmer .logo-horizontal {
  height: 57.04px;
  min-width: 185px;
}

.desktop-badezimmer .frame-14 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex: 1;
  gap: 34px;
  justify-content: flex-end;
}

.desktop-badezimmer .link-startseite {
  border: 1px none;
  height: 29px;
  margin-left: -66.00px;
  min-width: 62px;
  position: relative;
}

.desktop-badezimmer .startseite {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .link {
  border: 1px none;
  height: 29px;
  min-width: 44px;
  position: relative;
}

.desktop-badezimmer .kche {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .place {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .bad {
  border: 1px none;
  height: 29px;
  min-width: 27px;
  position: relative;
}

.desktop-badezimmer .bad-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .link-uber-uns {
  border: 1px none;
  height: 29px;
  min-width: 60px;
  position: relative;
}

.desktop-badezimmer .ber-uns {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .link-kontakt {
  border: 1px none;
  height: 29px;
  min-width: 52px;
  position: relative;
}

.desktop-badezimmer .kontakt {
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-badezimmer .button {
  align-items: flex-start;
  background-color: var(--green--100);
  border: 1px none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 4px 18px;
  width: fit-content;
}

.desktop-badezimmer .ruf-uns-an {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.desktop-badezimmer .intro {
  align-items: flex-start;
  display: flex;
  height: 328px;
  margin-left: 6.0px;
  margin-top: 53px;
  min-width: 999px;
  z-index: 6;
}

.desktop-badezimmer .erfrischen-anders {
  letter-spacing: 0;
  line-height: 54px;
  min-height: 128px;
  width: 279px;
}

.desktop-badezimmer .die-kche-ist-heute {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 30px;
  min-height: 328px;
  width: 686px;
}

.desktop-badezimmer .slider {
  align-items: flex-start;
  display: flex;
  margin-left: 3.0px;
  min-width: 1200px;
  z-index: 5;
}

.desktop-badezimmer .overlap-group3 {
  height: 552px;
  position: relative;
  width: 1200px;
}

.desktop-badezimmer .carousel {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 552px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1200px;
}

.desktop-badezimmer .kitchen {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.desktop-badezimmer .rectangle {
  height: 552px;
  min-width: 1200px;
  object-fit: cover;
}

.desktop-badezimmer .frame-13 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 14px;
  left: 513px;
  position: absolute;
  top: 503px;
  width: fit-content;
}

.desktop-badezimmer .ellipse {
  border: 3px solid;
  border-color: var(--green--100);
  border-radius: 8.5px;
  height: 17px;
  min-width: 17px;
}

.desktop-badezimmer .button-slider-left {
  height: 69px;
  left: 21px;
  position: absolute;
  top: 242px;
  width: 59px;
}

.desktop-badezimmer .button-slider-right {
  height: 69px;
  left: 1115px;
  position: absolute;
  top: 255px;
  width: 59px;
}

.desktop-badezimmer .unsere-partner-frs-badezimmer {
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 321.0px;
  margin-top: 106px;
  min-height: 57px;
  width: 672px;
  z-index: 2;
}

.desktop-badezimmer .text-kche-amet-mini-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-right: 306.0px;
  margin-top: 6px;
  min-height: 56px;
  width: 687px;
  z-index: 3;
}

.desktop-badezimmer .overlap-group7 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--black--15);
  display: flex;
  height: 104px;
  margin-left: 223px;
  margin-top: 25px;
  min-width: 174px;
  padding: 38px 33px;
  z-index: 4;
}

.desktop-badezimmer .frame {
  height: 27px;
  width: 108px;
}

.desktop-badezimmer .prozess {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 87.0px;
  margin-top: 229px;
  min-height: 467px;
  width: 906px;
  z-index: 1;
}

.desktop-badezimmer .so-entsteht-einzigartiges {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 56px;
  width: 672px;
}

.desktop-badezimmer .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 392px;
  margin-top: 19px;
  min-width: 892px;
}

.desktop-badezimmer .overlap-group1 {
  align-items: flex-start;
  background-color: var(--black--15);
  display: flex;
  flex-direction: column;
  min-height: 392px;
  padding: 16px 15px;
  width: 277px;
}

.desktop-badezimmer .frame-1 {
  align-self: center;
  height: 124px;
  margin-left: 1.0px;
  margin-top: 18px;
  width: 134px;
}

.desktop-badezimmer .gesprch {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: 2px;
  margin-top: 42px;
  min-height: 40px;
  width: 132px;
}

.desktop-badezimmer .text-kche-amet-mini {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 136px;
  width: 246px;
}

.desktop-badezimmer .overlap-group2 {
  align-items: flex-start;
  background-color: var(--black--15);
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  min-height: 392px;
  padding: 16px 15px;
  width: 277px;
}

.desktop-badezimmer .frame-2 {
  align-self: center;
  height: 133px;
  margin-left: 4.0px;
  margin-top: 18px;
  width: 127px;
}

.desktop-badezimmer .plannung {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: 2px;
  margin-top: 33px;
  min-height: 40px;
  width: 228px;
}

.desktop-badezimmer .overlap-group {
  align-items: flex-start;
  background-color: var(--black--15);
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 392px;
  padding: 16px 15px;
  width: 277px;
}

.desktop-badezimmer .frame-3 {
  align-self: center;
  height: 132px;
  margin-right: 29.0px;
  margin-top: 29px;
  width: 132px;
}

.desktop-badezimmer .ausfhrung {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: 2px;
  margin-top: 23px;
  min-height: 40px;
  width: 132px;
}

.desktop-badezimmer .call-to-action {
  align-items: flex-start;
  display: flex;
  margin-left: 7.0px;
  margin-top: 150px;
  min-width: 1446px;
  z-index: 8;
}

.desktop-badezimmer .overlap-group4 {
  height: 433px;
  position: relative;
  width: 1440px;
}

.desktop-badezimmer .vector {
  height: 341px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 1440px;
}

.desktop-badezimmer .rectangle-7 {
  background-color: var(--green--100);
  border: 1px none;
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-badezimmer .rufen-sie-uns-doch-a {
  left: 223px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  top: 48px;
  width: 955px;
}

.desktop-badezimmer .phone {
  left: 315px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  top: 241px;
  width: 336px;
}

.desktop-badezimmer .per-telefon-gehts-am-einfachsten {
  left: 223px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 181px;
  width: 578px;
}

.desktop-badezimmer .vector-1 {
  height: 63px;
  left: 226px;
  position: absolute;
  top: 239px;
  width: 64px;
}

.desktop-badezimmer .footer {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  min-width: 1459px;
  z-index: 9;
}

.desktop-badezimmer .overlap-group5 {
  align-items: flex-end;
  background-color: var(--weiss--100);
  display: flex;
  height: 411px;
  justify-content: flex-end;
  min-width: 1439px;
  padding: 45px 221.8px;
}

.desktop-badezimmer .flex-row {
  align-items: flex-start;
  display: flex;
  height: 265px;
  min-width: 512px;
}

.desktop-badezimmer .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 265px;
  width: 215px;
}

.desktop-badezimmer .kontakt-1 {
  letter-spacing: 0;
  line-height: 28.8px;
  min-height: 40px;
  width: 141px;
}

.desktop-badezimmer .mail-infowyeragch {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 24px;
  min-height: 104px;
  width: 215px;
}

.desktop-badezimmer .copyright {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 57px;
  min-height: 40px;
  width: 215px;
}

.desktop-badezimmer .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  min-height: 265px;
  width: 210px;
}

.desktop-badezimmer .adresse {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-right: 10.0px;
  min-height: 48px;
  width: 190px;
}

.desktop-badezimmer .gebr-wyer-ag-seewji {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 5.0px;
  margin-top: 16px;
  min-height: 96px;
  width: 205px;
}

.desktop-badezimmer .webdesign-by-ddqzch {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 65px;
  min-height: 40px;
  width: 210px;
}

.desktop-badezimmer .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 103px;
  min-height: 265px;
  width: 205px;
}

.desktop-badezimmer .ffnungszeiten {
  letter-spacing: 0;
  line-height: 28.8px;
  min-height: 48px;
  width: 190px;
}

.desktop-badezimmer .montag-freitag-900 {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 16px;
  min-height: 96px;
  width: 205px;
}

.desktop-badezimmer .impressum {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 65px;
  min-height: 40px;
  width: 101px;
}

.desktop-badezimmer .span1 {
  text-decoration: underline;
}

.desktop-badezimmer .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 261px;
  width: 114px;
}

.desktop-badezimmer .vector-2 {
  align-self: flex-end;
  height: 39px;
  width: 39px;
}

.desktop-badezimmer .datenschutz {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 182px;
  min-height: 40px;
  text-decoration: underline;
  width: 101px;
}

.desktop-badezimmer .group {
  align-self: flex-start;
  height: 39px;
  margin-left: 21px;
  margin-top: 60px;
  width: 39px;
}
